/* navigation stuff */
/*.nav {
    display: flex;
    border: 2px solid pink;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
}
.home {
    border: 2px solid black;
    padding: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.right {
    list-style-type: none;
    display: flex;
    gap: 4px;
}
.right li {
    border: 2px solid black;
} */

.nav {
    background-color: #eee;
}
body {
    margin: 0 auto;
    padding: 0;
    /* background-color: rgb(44, 44, 44);
    color: white; */
}   
a {
    text-decoration: none;
}
.title, 
.subtitle,
.intro p {
    text-align: center;
    color: white;
}
.intro p {
    width: 750px;
    font-family: monospace;
    line-height: 23px;
}
.intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(./image/picture1-11.png);
    background-size: cover;
    background-position: center;
}
