/* navigation stuff */
/*.nav {
    display: flex;
    border: 2px solid pink;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
}
.home {
    border: 2px solid black;
    padding: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.right {
    list-style-type: none;
    display: flex;
    gap: 4px;
}
.right li {
    border: 2px solid black;
} */

.nav {
    background-color: #171d38;
}
.right a{
    color: white;
}
body {
    margin: 0 auto;
    padding: 0;
    /* background-color: rgb(44, 44, 44);
    color: white; */
}   
a {
    text-decoration: none;
}
.title, 
.subtitle,
.intro p {
    text-align: center;
    color: white;
    margin: 0 0;
    padding: 0 0;
}
.intro p {
    width: 750px;
    margin-top: 50px;
}
p {
    font-family: monospace;
    line-height: 23px;
}
.title {
    margin: 5px;
    font-family: poppins;
}
.subtitle {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(./image/picture1-11.png);
    background-size: cover;
    background-position: center;
}
.scroll-arrow {
    position: absolute;
    bottom: 70px;   /* Distance from the bottom */
    left: 50%;      /* Move to middle */
    transform: translateX(-50%); /* Perfectly center it */
    filter: invert(1);
    transition: 0.5s;
}
.scroll-arrow:hover {
    bottom: 65px;
}


/* main body stuff */

.main {
    background-color: #171b35;
    color: white;
    padding: 120px 200px 80px;
}
.section {
    margin: 0 auto;
    padding: 15px 0;
}
.section p {
    padding-left: 20px;
    color: #d3e2f6;
}
h3 {
    font-family: 'Poppins';
    font-size: 18px;
}