@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://fonts.googleapis.com/css?family=Space Mono"); 
@import url('https://fonts.cdnfonts.com/css/allura');

/* base styles */
body {
    margin: 0 auto;
    padding: 0;
    /* background-color: rgb(44, 44, 44);
    color: white; */
}   

/* intro styles */
.title, 
.subtitle,
.intro p {
    text-align: center;
    color: var(--text);
    margin: 0 0;
    padding: 0 0;
}
.intro p {
    width: 750px;
    margin-top: 50px;
}
p, ul, ol {
    font-family: monospace;
    line-height: 23px;
}
.title {
    margin: 5px;
    font-family: "poppins";
}
.subtitle {
    font-family: "allura";
    font-size: 15px;
    font-weight: 200;
}
.intro {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;
} 
.bg-container {
    height: 100vh;
    background-image: var(--intro-bg);
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: -1;
}
.scroll-arrow {
    position: absolute;
    bottom: 70px;   
    left: 50%;
    transform: translateX(-50%); 
    filter: invert(1);
    transition: 0.5s;
}
.scroll-arrow:hover {
    bottom: 65px;
}


/* main section styles */
.main {
    position: relative;
    z-index: 1;
    margin-top: 100vh;

    background-color: var(--content-bg);
    color: var(--text);
    padding: 120px 30vh;
}
.section .accordion {
    font-family: 'Poppins';
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.section .panel {
    color: var(--text-two);

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease;
    opacity: 0;
}
.section .dash {
    display: inline-block; 
    opacity: 0;
    transform: translateX(-15px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.section.active .panel {
    max-height: 2000px;
    opacity: 1;
    padding-left: 40px;
}
.section.active .dash {
    opacity: 1;
    transform: translateX(0);
}
.section.active .accordion {
    transform: translateX(7px);
}


/* form styles */
/* button for opening the chat */
.open-button {
    position: fixed;
    right: 28px;
    bottom: 23px;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: "poppins";
    box-sizing: border-box;
    background-color: #48577b;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    z-index: 10;
    bottom: 23px;
    transition: 0.3s ease;
}
.open-button:hover {opacity: 1;}
/* the popup */
.form-container {
    position: fixed;
    right: 28px;
    width: 300px;
    bottom: 23px;
    display: none;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 11;
    padding: 20px 10px 10px;
    background-color: white;
    flex-direction: column;
    gap: 10px;
}
.form-container button,
.form-container textarea {
    background-color: #dcdcdc;
    border: none;
    height: 50px;
}
.form-container textarea {
    line-height: 17px;
    padding: 10px;
    font-family: monospace;
    height: 100px;
}
.form-container label {
    font-family: "poppins";
    font-weight: 100;
}
.form-container button {
    opacity: 0.8;
    transition: 0.3s ease;
}
.form-container button:hover {
    opacity: 1;
}