@import url('https://fonts.googleapis.com/css?family=Poppins');

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    background-color: black;
}
.home {
    filter: invert();
    padding: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.right {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding-right: 10px;
}

.right a{
    color: white;
    font-family: monospace;
}



/* centers the title and subtitle, which isn't really a part 
of the nav bar but I'm too lazy to make another file and link 
it to all of the pages. */
.title, 
.subtitle,
.header p {
    text-align: center;
}