@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://fonts.googleapis.com/css?family=Space Mono"); 

/* :root {
    
} */


.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 5;
}
.sidebar {
    opacity: 0;
    position: absolute;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: #00000093;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.sidebar .border-top,
.sidebar .border-bottom {
    width: 300px;
    filter: brightness(2);
}
.sidebar .border-bottom {
    transform: rotate(180deg);
}
.sidebar .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    font-family: allura;
    padding: 25px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    
    opacity: 0.8;
    line-height: 10px;

    transition: 0.3s ease;
}
.sidebar .decoration {transition: 0.5s ease;}
.sidebar a:hover .decoration, 
.sidebar a:focus .decoration {
    opacity: 1;
    letter-spacing: 3px;
}
.sidebar a:hover,
.sidebar a:focus {
    opacity: 1;
    color: white;
}
.sidebar-tab {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 20px;
    filter: blur(100px);
    transform: rotate(-90deg);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.sidebar-tab:hover + .sidebar {
    opacity: 1;
}

.sidebar.open {
    opacity: 1;
}