@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://fonts.googleapis.com/css?family=Space Mono"); 

:root {
    
}


.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 3;
}
.sidebar {
    position: absolute;
    top: 25vh;
    left: -500px;
    width: 350px;
    height: 50vh;
    background-color: #0e1126eb;
    transition: left 0.6s ease;
    box-shadow: 0px 0px 42px 30px #0e1126;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12vh;
    align-items: center;
}
.sidebar .border-top,
.sidebar .border-bottom {
    width: 300px;
    filter: brightness(2);
}
.sidebar .border-bottom {
    transform: rotate(180deg);
}
.sidebar .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    font-family: allura;
    padding: 25px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    
    opacity: 0.8;
    line-height: 10px;

    transition: 0.3s ease;
}
.sidebar .decoration {transition: 0.5s ease;}
.sidebar a:hover .decoration {
    opacity: 1;
    letter-spacing: 3px;
}
.sidebar a:hover {
    opacity: 1;
    color: white;
}
.sidebar-tab {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 20px;
    filter: invert(1);
    transform: rotate(-90deg);

    padding: 10px;
    cursor: pointer;
}
.sidebar-container:hover .sidebar {
    left: 0;
    margin-left: 50px;
}